@font-face {
  font-family: 'Gridnik';
  src: url('gridnik-bold.woff') format('woff'),
    url('gridnik-bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gridnik';
  src: url('gridnik-light.woff') format('woff'),
    url('gridnik-light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gridnik';
  src: url('gridnik-medium.woff') format('woff'),
    url('gridnik-medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
