@import url('../fonts/fonts.css');

body {
  font-family: 'Gridnik', 'Courier New', Courier, monospace;
  font-size: 10px;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0;
}

h1 {
  font-size: 2.6em;
}
h2 {
  font-size: 2.1em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.3em;
}

table {
  table-layout: fixed;
  width: 100%;
}
table th {
  text-align: left;
  padding-bottom: 3px;
}

hr {
  border: none;
  margin: 2em 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul > li {
  margin-left: 1em;
  position: relative;
}

ul > li::before {
  content: "-";
  left: -1em;
  position: absolute;
}

p + ul {
  margin-top: -1em;
}
